Restaurant_Management_Client/Connected Services/OrderServiceReference/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Restaurant_Management.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Restaurant_Management.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOrderDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderDto" nillable="true" type="tns:OrderDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderDto" nillable="true" type="tns:ArrayOfOrderDto" />
  <xs:complexType name="OrderDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemPrice" type="xs:int" />
      <xs:element minOccurs="0" name="ItemQuantity" type="xs:int" />
      <xs:element minOccurs="0" name="Orderdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderDto" nillable="true" type="tns:OrderDto" />
  <xs:complexType name="ArrayOfOrderDtoAdmin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderDtoAdmin" nillable="true" type="tns:OrderDtoAdmin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderDtoAdmin" nillable="true" type="tns:ArrayOfOrderDtoAdmin" />
  <xs:complexType name="OrderDtoAdmin">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ItemId" type="xs:int" />
      <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemPrice" type="xs:int" />
      <xs:element minOccurs="0" name="ItemQuantity" type="xs:int" />
      <xs:element minOccurs="0" name="Orderdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderDtoAdmin" nillable="true" type="tns:OrderDtoAdmin" />
</xs:schema>